<div class="container">
    <br>  
    <br>
    <br>
    <div>
    <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Log In</h4>
        <form #frm="ngForm">
        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
             </div>
            <input name="email" class="form-control" placeholder="Email address" type="email" [(ngModel)]="mentorloginData.email" ngModel #email="ngModel" required pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$">
        </div> <!-- form-group// -->
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                <p *ngIf="email.hasError('required')">
                    Email is required !
                </p>
                <p *ngIf="email.hasError('pattern')">
                     Email is invalid !
                </p>
        </div>


        <div class="form-group input-group">
            <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input name="password" class="form-control" placeholder=" Password" type="password" [(ngModel)]="mentorloginData.password" ngModel #password="ngModel" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,8}$">
        </div> <!-- form-group// -->   
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                <p *ngIf="password.hasError('required')">
                    Password is required !
                </p>
                <p *ngIf="password.hasError('pattern')">
                    Password must be at least 4 characters, no more than 8 characters, and include at least one upper case, one lower case, and one digit.
                </p>
        </div>
        

        <div class="form-group">
            <button name="button" type="submit" class="btn btn-primary btn-block" [disabled]="frm.invalid" (click)="mentorlogin()"> Log In  </button>
        </div> <!-- form-group// -->    
        <div>
            <p style="text-align: center"><a href="#" style="color: red">Forgot Password?</a></p>
        </div>                                                                   
    </form>
    </article>
    </div> <!-- card.// -->
    <br>
    <br>
    </div> 
