<div class="container" style="font-size: 16px;font-weight: bold">
        <!-- <div class="jumbotron"> -->
            <div>
                <div class="text-center">
                   <h3>Student's List</h3>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col"><button class="btn btn-success">SL. No.</button></th>
                            <th scope="col"><button class="btn btn-success">First Name</button></th>
                            <th scope="col"><button class="btn btn-success">Email</button></th>
                            <th scope="col"><button class="btn btn-success">Operations</button></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let studentsignup of studentlist,index as i">
                            <tr>
                            <th>{{i+1}}</th>
                            <td>{{studentsignup.firstname}}</td>
                            <td>{{studentsignup.email}}</td>
                            <td>
                                <button type="button" class="btn btn-danger badge-pill mr-2"><i class="fa fa-trash"></i>Delete</button>
                                <button type="button" class="btn btn-info badge-pill mr-2"><i class="fa fa-edit"></i>Edit</button>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>  
        <!-- </div> -->
    </div> 
    