<div class="container" style="font-size: 16px;font-weight: bold;">
    <!-- <div class="jumbotron"> -->
        <div>
            <div class="text-center">
               <h3>Course List</h3>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                        <th scope="col"><button class="btn btn-success">SL. No.</button></th>
                        <th scope="col"><button class="btn btn-success">Course Name</button></th>
                        <th scope="col"><button class="btn btn-success">Course Fee</button></th>
                        <th scope="col"><button class="btn btn-success">Mentor Name</button></th>
                        <th scope="col"><button class="btn btn-success">Operations</button></th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let courses of courselist,index as i">
                        <tr>
                        <th>{{i+1}}</th>
                        <td>{{courses.coursename}}</td>
                        <td>{{courses.coursefee}}</td>
                        <td>{{courses.mentorname}}</td>
                        <td>
                            <button type="button" class="btn btn-danger badge-pill mr-2" (click)="deleteCourse(courses)"><i class="fa fa-trash"></i>Delete</button>
                            <button type="button" class="btn btn-info badge-pill mr-2"  (click)="courseedit(courses)"><i class="fa fa-edit"></i>Edit</button>
                        </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>  
    <!-- </div> -->
</div> 
