<section>
    <div class="container">
        <div class="card-wrapper">
                <div class="card">
                         <h1>Student Register</h1>
                       
                        <a href="studentsignup" class="btn">Register</a>
                </div>

                <div class="card">
                        <h1>Mentor Register</h1>
                       
                        <a href="mentorsignup" class="btn">Register</a>
                </div>
        </div>
    </div>
</section>